[DEFAULT]
excludes = [
    "/home/*/.gvfs/",
    "/home/*/.cache/",
    "/home/*/.thumbnails/",
    "/home/*/.dropbox/",
    "/proc/*",
    "/sys/*",
    "/dev/*",
    "/etc/mtab",
    "/var/cache/*",
    "lost+found/*",
    "/tmp/*",
    "/var/tmp/*",
    "/home/*/.local/share/Trash"
    ]
port = 22

[borgqt]
includes = [
    "/home/username/"
    ]
server = 192.168.1.1
user = borg
repository_path = /tmp/test-borgqt
password = foo
